/vim/plugged/
/vim/plugin/
/vim/colors/
/vim/spell/
.config/nvim/colors/
/awesome/lain
/awesome/freedesktop/
.config/zsh/plugins/
.config/zsh/.zcompdump
.config/polybar/colors.ini
.config/polybar/glyphs.ini
